<ion-card>
    <ion-card-header>
      <ion-card-title>{{ data.FullName }}</ion-card-title>
      <ion-card-subtitle>Email :{{ data.EmailId }}</ion-card-subtitle>
      <ion-card-subtitle>Phone :{{ data.PhoneNumber }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Age: {{ calculateAge(data?.DOB) }}</p>
      <p>Teacher Assigned : {{ data?.Teacher?.FullName }}</p>
      <p>Record Created Date : {{ data?.CreatedAt ? (data?.CreatedAt.toDate() | date) : "" }}</p>
    </ion-card-content>
  
    <!-- <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button>
            <ion-icon name="more"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
          <ion-fab-button [appLocation]='data.LatLng' enableSelection='false'>
              <ion-icon name="compass"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)='givePrescription()' *ngIf='userService.isDoctor$|async'>
              <ion-icon name="mail"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)='alertForAmbulance()' *ngIf='userService.isDoctor$|async'>
              <ion-icon name="alert"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab> -->
  </ion-card>
  