<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button fill="solid" (click)="onClose()" color="light" fill="outline">
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>Set Boundary</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" (click)="onSubmit()" color="light" fill="outline">
        Confirm
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="createForm">
    <ion-item-divider>
      <ion-label>
        <ion-text color="primary">
          <h2>BOUNDARY RADIUS (m)</h2>
        </ion-text>
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-input formControlName="radius" type="number" placeholder="1000m"></ion-input>
    </ion-item>
    <ion-item-divider>
      <ion-label>
        <ion-text color="primary">
          <h2>LOCATION</h2>
        </ion-text>
        <p>Latitude and longitude .</p>
      </ion-label>
      <ion-fab-button
        slot="end"
        [appLocation]="createForm.get('latLng').value"
        enableSelection
        color="secondary"
        (onSelect)="onLocationSelect($event)"
      >
        <ion-icon name="compass"></ion-icon>
      </ion-fab-button>
    </ion-item-divider>
    <ion-item>
      <ion-input [value]="createForm.get('latLng').value" type="text" placeholder="23.455,45.555" disabled></ion-input>
      <input type="hidden" formControlName="latLng" />
    </ion-item>
  </form>
</ion-content>
