<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button fill="solid" (click)="onClose()" color="light" fill="outline">
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>Add Students</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" (click)="onSubmit()" color="light" fill="outline">
        Confirm
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <form [formGroup]="createForm" novalidate>
      <ion-item-divider>
        <ion-label>
          <ion-text color="primary">
            <h2>NAME</h2>
          </ion-text>
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-input formControlName="name" type="text" placeholder="Tintumon"></ion-input>
      </ion-item>
      <ion-item-divider>
        <ion-label>
          <ion-text color="primary">
            <h2>CLASS</h2>
          </ion-text>
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-input formControlName="class" type="text" placeholder="Vth A"></ion-input>
      </ion-item>
      <ion-item-divider>
        <ion-label>
          <ion-text color="primary">
            <h2>ADDRESS</h2>
          </ion-text>
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-textarea formControlName="address" type="text" placeholder="Ulloor , Trivandrum"></ion-textarea>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
