<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-button fill="solid" (click)="onClose()" color="light" fill="outline">
          Back
        </ion-button>
      </ion-buttons>
      <ion-title>Create Device Alert</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="solid" (click)="onSubmit()" color="light" fill="outline">
          Confirm
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form [formGroup]="createForm" novalidate>
      <ion-list>
        <ion-item-divider>
          <ion-label>
            <ion-text color="primary">
              <h2>Message</h2>
            </ion-text>
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-textarea formControlName="message" type="text" placeholder="Enter your message ."></ion-textarea>
        </ion-item>
      </ion-list>
    </form>
  </ion-content>
  