<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Teacher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- New form section-->
  <ng-container *ngIf="mode === 'new'; else existingTemplate">
    <app-teacher-form (success)="afterRegistration($event)"></app-teacher-form>
  </ng-container>

  <!--Existing section .-->
  <ng-template #existingTemplate>
    <ng-container *ngIf="(data$ | async) as res">
      <ng-container *ngIf="res.data; else notificationTemplate">
        <div class="position-relative">
          <app-teacher-card [data]="res.data"></app-teacher-card>
        </div>
      </ng-container>

      <ng-template #notificationTemplate>
        <ng-container *ngIf="res.error || res.empty; else loadingTemplate">
          <div class="item-center" [hidden]="!res.error">
            Something went wrong , Try again later .
          </div>
          <div class="item-center" [hidden]="!res.empty">
            List is empty.
          </div>
        </ng-container>
      </ng-template>
    </ng-container>
  </ng-template>
</ion-content>
<ng-template #loadingTemplate>
  <div class="item-center">
    <ion-spinner name="lines"></ion-spinner>
  </div>
</ng-template>
