<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Students</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="(data$ | async) as res">
    <ng-container *ngIf="res.data; else notificationTemplate">
      <div class="position-relative">
        <ion-list lines="inset">
          <ion-item *ngFor="let data of res.data" [routerLink]="['/student/', data.Uid]" [ribbon]='data.IsTeacherWatching' ribbonContent='Tracking' detail>
            <ion-avatar slot="start">
                <img src="/assets/student.png" />
              </ion-avatar>
            <ion-label text-wrap>
              <ion-text color="primary">
                <h3>{{ data.FullName }}</h3>
              </ion-text>
              <p>Class : {{ data.Class }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ng-container>
    <ng-template #notificationTemplate>
      <ng-container *ngIf="res.error || res.empty; else loadingTemplate">
        <div class="item-center" [hidden]="!res.error">
          Something went wrong , Try again later .
        </div>
        <div class="item-center" [hidden]="!res.empty">
          List is empty.
        </div>
      </ng-container>
      <ng-template #loadingTemplate>
        <div class="item-center">
          <ion-spinner name="lines"></ion-spinner>
        </div>
      </ng-template>
    </ng-template>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf='userService.isSchool$|async'>
    <ion-fab-button routerLink="/student">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
